// iClinic colors
$primary-color: #2c97d1;
$secondary-color: #ffffff;

// Light side colors
$light-side-primary: #fbfe63;
$light-side-secondary: #2a2a2a;

// Dark side colors
$dark-side-primary: #2b2b2b;
$dark-side-secondary: #ffffff;

// Default colors
$default-primary: #ffffff;
$default-secondary: #2b2b2b;

// Media queries
$desktop: 801px;
